body {
    margin: 0;
    background-color: #fff;
    font-family: Leelawadee;
}

header {
    height: 50px;
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
}


#content-code {
    height: 60vh;
    display: flex;
    padding-left: 5px;
    flex-direction: row;
}

#content-preview {
    height: 30vh;
}

.vertical-row {
    width: calc(100% / 3);
    height: 100%;
    position: relative;
}

.horizontal-row {
    width: 100%;
    height: auto;
}

#logo {
    width: 300px;
    height: 36px;
    position: absolute;
    margin: 7px 0px;
}

.toggle {
    width: 25%;
    float: left;
    height: inherit;
}

.toggleButton {
    width: 100%;
    height: 100%;
    margin: auto;
}

#buttons {
    width: 300px;
    height: 50px;
    margin: auto;
}

#logoText {
    height: 20px;
    margin: auto;
    font-size: 200%;
    font-weight: bold;
}

#clearBoth {
    clear: both;
}

.input {
    width: 100%;
    height: 100%;
    resize: none;
    margin: auto;
}

.divForInput {
    width: 98%;
    height: 98%;
}